<nz-page-header nzTitle="第三章" nzSubtitle="形状"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="自适应的椭圆" [nzActive]="true">
        <app-flexible-ellipses></app-flexible-ellipses>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="平行四边形" [nzActive]="true">
        <app-parallelograms></app-parallelograms>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="菱形图片" [nzActive]="true">
        <app-diamond-images></app-diamond-images>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="切角效果" [nzActive]="true">
        <app-cutout-corners></app-cutout-corners>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="梯形标签页" [nzActive]="true">
        <app-trapezoid-tabs></app-trapezoid-tabs>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="简单的饼图" [nzActive]="true">
        <app-simple-pie-charts></app-simple-pie-charts>
    </nz-collapse-panel>

</nz-collapse>