<nz-page-header nzTitle="第五章" nzSubtitle="字体排印"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="连字符断行" [nzActive]="true">
        <app-hyphenation></app-hyphenation>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="插入换行" [nzActive]="true">
        <app-inserting-line-breaks></app-inserting-line-breaks>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="文本行的斑马条纹" [nzActive]="true">
        <app-zebra-striped-text-lines></app-zebra-striped-text-lines>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="调整tab的宽度" [nzActive]="true">
        <app-adjusting-tab-width></app-adjusting-tab-width>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="连字" [nzActive]="true">
        <app-ligatures></app-ligatures>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="华丽的&符号" [nzActive]="true">
        <app-fancy-ampersands></app-fancy-ampersands>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="自定义下划线" [nzActive]="true">
        <app-custom-underlines></app-custom-underlines>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="现实中的文字效果" [nzActive]="true">
        <app-realistic-text-effects></app-realistic-text-effects>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="环形文字" [nzActive]="true">
        <app-circular-text></app-circular-text>
    </nz-collapse-panel>
</nz-collapse>