<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit natus nulla, labore reiciendis dolorum magni itaque
        libero incidunt ducimus suscipit optio omnis, alias porro dignissimos non minima officia vero corrupti?</p>
    <figure>
        <img src="assets/tower-mini.jpg" alt="">
        <figcaption>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi, temporibus adipisci sapiente perspiciatis
        dolore veritatis repudiandae tempora eos aliquid?</p>
</article>

<app-highlight-code [code]='code'></app-highlight-code>