<nz-page-header nzTitle="第八章" nzSubtitle="过渡与动画"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="缓动效果" [nzActive]="true">
        <app-elastic-transitions></app-elastic-transitions>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="逐帧动画" [nzActive]="true">
        <app-frame-by-frame-animations></app-frame-by-frame-animations>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="闪烁效果" [nzActive]="true">
        <app-blinking></app-blinking>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="打字动画" [nzActive]="true">
        <app-typing-animation></app-typing-animation>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="状态平滑的动画" [nzActive]="true">
        <app-smooth-state-animations></app-smooth-state-animations>
    </nz-collapse-panel>
</nz-collapse>