<div class="container">
    <div class="cube cube1">
        <div class="loading">
            <div class="chrysanthemum">
                <div class="bar" *ngFor="let item of [1,1,1,1,1,1,1,1]"></div>
            </div>
        </div>
    </div>
    <div class="cube cube2">
        <div class="loading">
            <div class="chrysanthemum">
                <div class="bar" *ngFor="let item of [1,1,1,1,1,1,1,1]"></div>
            </div>
        </div>
    </div>
</div>

<app-highlight-code [code]='code'></app-highlight-code>