<nz-page-header nzTitle="第二章" nzSubtitle="背景与边框"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="半透明边框" [nzActive]="true">
        <app-transparent-border></app-transparent-border>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="多重边框" [nzActive]="true">
        <app-multi-borders></app-multi-borders>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="灵活的背景定位" [nzActive]="true">
        <app-extended-bg-position></app-extended-bg-position>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="边框内圆角" [nzActive]="true">
        <app-inner-rounding></app-inner-rounding>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="条纹背景" [nzActive]="true">
        <app-stripes-background></app-stripes-background>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="复杂的背景图案" [nzActive]="true">
        <app-complex-background-patterns></app-complex-background-patterns>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="伪随机背景" [nzActive]="true">
        <app-pseudo-random-backgrounds></app-pseudo-random-backgrounds>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="连续的图像边框" [nzActive]="true">
        <app-continuous-image-borders></app-continuous-image-borders>
    </nz-collapse-panel>
</nz-collapse>