<nz-page-header nzTitle="第四章" nzSubtitle="视觉效果"></nz-page-header>

<nz-collapse>
  <nz-collapse-panel nzHeader="单侧投影" [nzActive]="false">
    <app-one-sided-shadows></app-one-sided-shadows>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="不规则投影" [nzActive]="false">
    <app-irregular-drop-shadows></app-irregular-drop-shadows>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="染色效果" [nzActive]="false">
    <app-color-tinting></app-color-tinting>
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="毛玻璃效果" [nzActive]="true">
    <app-frosted-glass-effect></app-frosted-glass-effect>
  </nz-collapse-panel>
</nz-collapse>