<nz-page-header nzTitle="第六章" nzSubtitle="用户体验"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="选用合适的鼠标光标" [nzActive]="true">
        <app-picking-the-right-cursor></app-picking-the-right-cursor>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="扩大可点击区域" [nzActive]="true">
        <app-extending-the-clickable-area></app-extending-the-clickable-area>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="自定义复选框" [nzActive]="true">
        <app-custom-checkboxes></app-custom-checkboxes>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="通过阴影来弱化背景" [nzActive]="true">
        <app-de-emphasize-by-dimming></app-de-emphasize-by-dimming>
    </nz-collapse-panel>
</nz-collapse>