<div class="container">
    <div class="cube cube1">
        Something always brings me back to you. It never takes too long.
    </div>
    <div class="cube cube2">
        <div>Something always brings me back to you. It never takes too long.</div>
    </div>
    <div class="cube cube3">
        Something always brings me back to you. It never takes too long.
    </div>
    <div class="cube cube4">
        Something always brings me back to you. It never takes too long.
    </div>
</div>

<app-highlight-code [code]="code"></app-highlight-code>