<nz-page-header nzTitle="第七章" nzSubtitle="结构与布局"></nz-page-header>

<nz-collapse>
    <nz-collapse-panel nzHeader="自适应内部元素" [nzActive]="true">
        <app-intrinsic-sizing></app-intrinsic-sizing>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="精确控制表格列宽" [nzActive]="true">
        <app-taming-table-column-width></app-taming-table-column-width>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="根据兄弟元素的数量来设置样式" [nzActive]="true">
        <app-styling-by-sibling-count></app-styling-by-sibling-count>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="满幅的背景，定宽的内容" [nzActive]="true">
        <app-fluid-background-fixed-content></app-fluid-background-fixed-content>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="垂直居中" [nzActive]="true">
        <app-vertical-centering></app-vertical-centering>
    </nz-collapse-panel>
</nz-collapse>