<div class="container">
    <div [ngClass]="['cube', 'cube'+item]" *ngFor="let item of [1,2,3,4]">
        <main>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur amet perferendis eum magnam
            doloremque assumenda iste rerum autem eius, sint iusto commodi, laudantium molestiae tenetur, error animi
            doloribus beatae delectus enim ex natus nisi. Facere perspiciatis nostrum fugit? Iure voluptatum distinctio
            porro ad vel consequuntur molestias ut quasi perspiciatis at, animi sint eaque eveniet, magni numquam
            necessitatibus minus quod voluptate cum. Eveniet iusto blanditiis molestias assumenda excepturi animi
            consectetur, atque nostrum accusamus vero! Id iusto blanditiis recusandae dolores voluptas beatae quia
            impedit in. Quam minima assumenda fugit consectetur quo velit nam sint eaque deserunt consequatur dolore,
            quidem fugiat nostrum provident minus veritatis exercitationem repellat incidunt, corrupti voluptatem? Ipsum
            earum saepe possimus autem fugiat obcaecati inventore a cumque eos suscipit molestias ducimus amet numquam
            eligendi quidem, iure voluptate explicabo labore magni voluptas ullam fugit libero sed totam. Praesentium
            atque recusandae consectetur. Laborum, minus similique. Nam nulla delectus tempora ipsam optio aliquam sit
            sed temporibus corporis, iste et autem, quos assumenda voluptas, consequatur vitae iusto explicabo saepe
            error eum dicta necessitatibus unde quibusdam qui. Doloremque totam reiciendis neque quidem quo similique
            perferendis quis. Dolores a amet ducimus nam, excepturi iste officiis repellat maiores, architecto
            voluptatem provident iure quia, laboriosam voluptatum in harum.</main>
        <footer>footer</footer>
    </div>
</div>
<app-highlight-code [code]='code'></app-highlight-code>